@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,700&display=swap');

.body{
  background-color: #FBFBFF;
}

footer{
    width: -webkit-fill-available;
    bottom: 0;
      
}
.flex-container {
    display: flex;
    align-items: stretch;
  }

  main>h1{
    padding-left: 5%;
    color: #0B4F6C;
    font-family: 'Nunito Sans', sans-serif;
  }

  .card-s{
   padding: 1% 3%;
  }

  .heading-one{
    padding:3% 5%;
    color: #0B4F6C;
    font-family: 'Nunito Sans', sans-serif;

  }

  .imgg{
    margin: 0 3% 0 3%;
    box-shadow: 0px 0px 10px black;
    width: -webkit-fill-available;
  }

  .sort-dropdown{
    display: flex;
    padding-top: 2rem;
    padding-right: 6rem;
    justify-content: end;
    align-items: center;
  }

  .labell{
    padding-right: 1rem;
    color: #0B4F6C;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .select-sort{
    border-radius: 1rem;
    padding: .2rem;
    font-weight: 700;
    color: #0B4F6C;
  }
  .select-sort:focus-visible{
    border-color: #0B4F6C !important;
  }

  @media (max-width:768px){
  .d{
    margin-top: 10% !important;
  }
  .sort-dropdown{
    justify-content: center;
    padding: 0;
    padding-top: 2rem;
  }
}



