@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.body {
  background-color: #fbfbff;
}

.title {
  text-decoration: none;
}

.link-c {
  text-decoration: none;
  color: #0b4f6c;
}
.css-h93ljk-MuiTypography-root{
  font-family: 'Ubuntu', sans-serif !important;
  color: #0b4f6c;
}
.rate{
  font-weight: 500;
}
