.movie-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 90%;
  margin: 4% auto;
  border-radius: 1rem;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  align-items: center;
}

.col{
  color: rgb(11, 79, 108);
  font-weight: 700;
}
.space{
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.div-one {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.div-two {
  margin-top: 5%;
}

.movie-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  text-align: center !important;
  color: rgb(11, 79, 108);
  text-shadow: 1.5px 1.5px  rgb(103, 209, 254);
}

.movie-poster img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.4);
  flex: 1;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  border-radius: 1rem;
}
.movie-poster img:hover{
  cursor: pointer;
}

.release-date {
  font-size: 2rem;
  margin-top: 0.8rem;
}

.overview {
  font-size: 1.4rem;
  margin: 6rem 0;
  width: 95%;
}

.vote-average {
  font-size: 2rem;
  margin-top: 0.8rem;
}

.runtime {
  font-size: 2rem;
  margin-top: 0.8rem;
}

.loading-message {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 50px 0;
  color: #777;
}

@media (max-width: 768px) {
  .movie-details-container {
    padding: 0.8rem;
  }

  .movie-title {
    font-size: 2rem;
  }

  .div-one {
    grid-template-columns: 1fr; 
  }

  .movie-poster img {
    margin-bottom: 2rem;
    display: block;
    margin-right: auto;
    margin-left: auto; 
  }

  .overview {
    width: 100%; 
    margin: 2rem 0;
  }
  .space{
    font-size: 1.65rem;
  }
}
@media (max-width:1000px) {
  .overview {
    width: 100%; 
    margin: 1rem 0;
  }
}
