.header {
  background-color: rgb(11, 79, 108);
  color: rgb(251, 251, 255);
  padding: 10px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.navbar-brand {
  color: rgb(251, 251, 255);
  text-decoration: none;
  font-size: 24px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-right: 20px;
  font-size: 18px;
  align-self: center;
}

.nav a {
  color: rgb(251, 251, 255);
  text-decoration: none;
  transition: color 0.3s;
}

.nav a:hover {
  color: rgb(106, 208, 255);
}

.profile {
  transition: color 0.3s;
}

.profile:hover {
  cursor: pointer;
  color: rgb(106, 208, 255);
}

.icon-p {
  vertical-align: middle;
}

.so {
  transition: color 0.3s;
}

.so:hover {
  cursor: pointer;
  color: rgb(106, 208, 255);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none !important;
  position: absolute;
  background-color: rgb(11, 79, 108);
  min-width: 160px;
  z-index: 1;
  flex-direction: column;
}

.dropdown-content:hover,
.dropdown-content.open {
  display: block !important;
  margin-top: 1rem;
}

.dropdown-content li {
  padding: 10px;
}

.profile-picture{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-left: 2rem;
}

@media screen and (max-width: 768px) {
  .nav li {
    margin: 0;
    padding: 10px 10px 10px 12px;
    text-align: center;
    width: 100%;
    font-size: 1rem;
  }

  .profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .dropdown-content:hover,
  .dropdown-content.open {
    display: block !important;
    margin-top: 1.2rem;
  }

  .profile-picture{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin: 0;
    margin-left: 1.5rem;
  }

  .icon-p {
    vertical-align: middle;
  }

  .dropdown {
    margin: 0;
    width: 100%;
  }

  .dropdown-content {
    width: 100%;
    left: 0;
  }
}
