
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

:root {
  --mainColor: rgb(11, 79, 108);
  --mainColorLight: #5767aa;
  --secondaryColor: rgb(0, 200, 255);
  --textColor: #eee;
}

.profile {
  transition: color 0.3s;
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
  font-size: 1.5rem;
}

.profile:hover {
  cursor: pointer;
  color: rgb(0, 200, 255);
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none !important;
  position: absolute;
  background-color: rgb(11, 79, 108);
  min-width: 160px;
  z-index: 1;
  flex-direction: column;
}

.dropdown-content:hover,
.dropdown-content.open {
  display: block !important;
  margin-top: 1.1rem;
}

.dropdown-content li {
  padding: 10px;
}
.profile-picture{
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}
ul{
  padding-left: 0rem !important;
  text-align: center;
}

.d-list{
  text-decoration: none;
  color: #eee;
  padding-left: 0rem !important;
  transition: .3s ease;
  list-style: none !important;
}
.d-list:hover{
  color: var(--secondaryColor);
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}

.logo {
  text-decoration: none !important;
  color: white;
  transition: 0.3s ease;
  font-size: 2rem;
}
.logo:hover {
  color: var(--secondaryColor);
}

.link {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
}

.link:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

.navi{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%; 
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    position: absolute;
    right: 2rem;
  }

  header nav {
    position: fixed;
    top: -120vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    z-index: 2;
  }

  header .responsive_nav {
    transform: translateY(120vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav .link {
    font-size: 1.5rem;
  }
}
